<!-- drill group -->

<h1>Drill Group: <%= @drill_group.name %></h1>


<%= button_to 'Edit Group', edit_drill_group_path(@drill_group),
                            method: :get,
                            class: 'btn btn-primary' %>
<!-- New code -->
<%= button_to 'Delete Group', drill_group_path(@drill_group),
                              method: :delete,
                              class: 'btn btn-primary' %>

<h3><%= @drill_group.description %></h3>

<hr>

<!-- drill form -->
<div>
  <h2>Add New Drill</h2>
    <h4>Drill Description</h4>
    <%= render partial: 'drill_form', locals: {drill: @drill} %>
</div>
<hr>

<!-- drill list -->
<% if @drills.present? %>
  <% @drills.each do |drill| %>
    <div class="drill">
      <h3>Q: <%= drill.description %></h3>
      <button class="btn btn-primary slide">Edit</button>
      <%= button_to 'Delete', drill_path(drill), method: :delete, class: 'btn btn-primary' %>
        <div class="show-form">
          <%# 👇 this form will slide down when 'Edit' button clicked %>
          <%= render partial: 'edit_drill_form', locals: {drill: drill} %>
        </div>
    </div>
  <% end %>
<% end %>
