<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1><%= @drill_group.name %></h1>

      <%= button_to 'Edit Group', edit_drill_group_path(@drill_group),
                            method: :get,
                            class: 'btn btn-primary' %>

      <p class="drill-description"><%= @drill_group.description %></p>
      <!-- Drill Form -->
      <div>
        <h2>Add New Drill</h2>
          <label>Drill Description</label>
          <%= render partial: 'drill_form', locals: {drill: @drill} %>
      </div>
      <!-- Drill List -->
      <% if @drills.present? %>
        <% @drills.each do |drill| %>
          <div class="drill">
            <p class="bottom-drill-description"><%= drill.description %></p>
              <%# 👇 need to change after implementing SlideDown thing %>
            <div class="drill-group-actions">
              <div id="slide" class="drill-button toggle-button"><a>Edit</a></div>
              <%= link_to 'Delete', nil, method: :delete, class: 'drill-button' %>
            </div>
              <div id='show-form' class="edit-form">
              <%# 👇 this form will slide down when 'Edit' button clicked %>
              <%# if true %>
                <%= render partial: 'edit_drill_form', locals: {drill: drill} %>
              <%# end %>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
