<div class="main">
  <div class="col-sm-offset-1 col-sm-3 flex-box">
    <div class="profile_picture">
      <%= image_tag("light_avatar.png", :class=>"avatar")%>
    </div>
  </div>

  <div class="col-sm-offset-1 col-sm-4 user-info flex-box">
    <div>
      <h1 class="inline">User Name</h1>
      <p class="inline">Edit<p>
      <p> obiwan@drillz.com</p>
      <p class="hidden-xs">points: 1000</p>
      <p class="hidden-xs">doughnuts: 10</p>
    </div>
  </div>

</div>

<div class="doughnuts col-sm-12">

  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>

</div>
