<h1>When Drill session is done....</h1>

<h3>You scored: <%= @group_session.points %> / <%= @drill_group.points %></h3>
<h2>Total Donuts 🍩 <%= current_user.donuts %></h2>

<!-- List of drills -->

<%= drill_counter = 0 %>
<% @drills.each do |drill| %>
  <div class="drill">
    <h3><%= "Drill #{drill_counter += 1}: #{drill.description}" %></h3>
    <div class="something looks like button? help me team front-end!">
      <% @group_session.attempts.each do |attempt| %>
        <%= attempt.success ? 'Correct' : 'Incorrect' %>
      <% end %>
    </div>
    <div class="drill-solutions">
      <div class="show-solutions">
        <h4>Solutions</h4>
        <% drill.solutions.each do |solution| %>
        <p><%= solution.body %></p>
        <% end %>
      </div>
      <button class="btn btn-primary solutions">Solutions</button>
    </div>
  </div>
<% end %>
