<div class="container">

  <h1>admin page</h1>

  <% @users.each do |user| %>
  <div>
    First Name: <%= user.first_name %>
  </div>
  <div>
    Last Name: <%= user.last_name %>
  </div>
  <div>
    Points: <%= user.points %>
  </div>
  <div>
    Donuts: <%= user.donuts %>
  </div>
  <div>
    Created: <%= user.created_at.strftime("%B %d, %Y") %>
  </div>
  <br>

  <% if !user.is_approved %>
    <%= form_tag admin_path(current_user), method: :put do -%>
      <%= hidden_field_tag :is_approved, user.id -%>
      <%= submit_tag 'Add User' -%>
    <%- end -%>
  <% end %>

    <hr>
  <% end %>


</div>
