<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1>Edit Account<h1>

      <%= @user.errors.full_messages.join(', ') %>
      <%= form_for @user do |f|%>

        <div class="field form-group">
          <%= f.label :first_name, class: 'control-label form-label' %>
          <%= f.text_field :first_name, class: 'form-control form-input' %>

        </div>

        <div class="field form-group ">
          <%= f.label :last_name, class: 'control-label form-label' %>
          <%= f.text_field :last_name, class: 'form-control form-input' %>
        </div>

        <div class="field form-group ">
          <%= f.label :email, class: 'control-label form-label' %>
          <%= f.email_field :email, class: 'form-control form-input' %>
        </div>
        <div class="action-items">
          <%= f.submit class: 'btn btn-primary'  %>

          <a href="#" data-toggle="modal" data-target="#passwordModal">
              Change Password
          </a>
        </div>
      <% end %>

      <div id="passwordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <%= form_for @user do |f|%>
                <div class = "field form-group ">
                  <%= f.label :new_password, class: ' control-label form-label' %>
                  <%= f.password_field :password, class: 'form-control form-input' %>
                </div>

                <div class="field form-group ">
                  <%= f.label :password, class: ' control-label form-label' %>
                  <%= f.password_field :password, class: 'form-control form-input' %>
                </div>

                <div class="field form-group ">
                  <%= f.label :password_confirmation, class: 'control-label form-label' %>
                  <%= f.password_field :password_confirmation, class: 'form-control form-input' %>
                </div>

                <%= f.submit class: 'btn'  %>
              <%end%>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
