<div class="main">
  <div class="col-sm-offset-1 col-sm-3 flex-box">
    <div class="profile_picture">
      <%= image_tag("light_avatar.png", :class=>"avatar")%>
    </div>
  </div>

  <div class="col-sm-offset-1 col-sm-4 user-info flex-box">
    <div>
      <h1 class="inline"><%= @user.first_name %></h1>
      <p class="inline"><%= link_to 'Edit', edit_user_path(current_user) %><p>
      <p> <%= @user.email %> </p>
      <p class="hidden-xs">points: <%= @user.points %></p>
      <p class="hidden-xs">doughnuts: <%= @user.donuts %></p>
    </div>
  </div>

</div>

<div class="doughnuts col-sm-12">

  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>
  <%= image_tag("doughnut.png", :class=>"doughnut")%>

</div>
