<!DOCTYPE html>
<html>
  <head>
    <title>Code Core Drillz | May the Force be with You</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%#= Google Font %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <%= favicon_link_tag 'favicon.ico?v=1' %>

  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
